#bloque1 {border-style: solid; border-width:2px; font-size:100%;}
#bloque2 {border-style: solid; border-width:2px; font-size:100%;}
#table1 {border-collapse: collapse; text-align: center;}
#texto1 {text-align: center; display:grid;}
#bloque3 {border-top-style: hidden;border-right-style: hidden;border-bottom-style: solid;border-left-style: hidden; border-width:2px; font-size:240%; background-color: #a1bdd4; transition: background-color 0.3s ease;} 
#bloque4 {border-style: solid; border-width:2px;}
#bloque5 {border-style: solid; border-width:2px; font-size:75%; background-color: #a1bdd4;}
#table2 {border-collapse: collapse; text-align: center; display: flex; align-content: space-between;}
#bloque6 {border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: none; border-width:2px; font-size:100%;}
#bloque7 {border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: none; border-width:2px; font-size:100%;}
#bloque8 {border-top-style: solid;border-right-style: hidden;border-bottom-style: solid;border-left-style: solid; border-width:2px; font-size:100%;}
#table3 {border-collapse: collapse; text-align: center;}
#bloque9 {border-top-style: none;border-right-style: solid;border-bottom-style: solid;border-left-style: solid; border-width:2px; font-size:136%; background-color: #a1bdd4;}
#bloque10 {border-style: solid; border-width:2px; background-color: #a6a6a6}
#bloque11 {border-top-style: solid;border-right-style: hidden;border-bottom-style: solid;border-left-style: solid; border-width:2px; background-color: #a6a6a6}
#texto2 {position: relative; top: 8px;}
#bloque12 {border-style: solid; border-width:2px; font-size:100%; background-color: #a1bdd4;}
#bloque13:hover {background-color: #a1bdd4}
th:hover {background-color: #daeaf7}
td:hover {background-color: #daeaf7}